/* colors */
/* fill color: #423870 */
/* fill color: #68618C */
/* fill color: #F88458 */
/* chart fill color: #68618C 8% */
/* chart border color: #E0E0E0 */

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/MuseoSansRounded-900.eot');
    src: url('../fonts/MuseoSansRounded-900.eot') format('embedded-opentype'), url('../fonts/MuseoSansRounded-900.woff2') format('woff2'), url('../fonts/MuseoSansRounded-900.woff') format('woff'), url('../fonts/MuseoSansRounded-900.ttf') format('truetype');
}

/* set the font for tables, forms, etc */
table > tbody > tr, input[type="text"], input[type="password"], p, select {
    font-family: Hind,Verdana,Arial,'sans-serif' !important;
    font-size: 16px;
    font-weight: bolder;
}

h3 {
    font-family: Hind,Verdana,Arial,'sans-serif' !important;
    font-weight: bolder;}

tbody > tr:nth-child(1)  {
    border-top: none;
}

/* set the font for the rest */
body {
    /* font-size: 1em !important; */
    font-family: MuseoSansRounded, Verdana, Arial, 'sans-serif' !important;

}

body {
    background-color: #fff;
    margin-top: 55px !important;
}

.nav-bar-color {
    background-color: #423870;
    border-color: #423870;
}

.page-wrapper-color {
    background-color: #FFF;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-body {
    padding: 0px;
}

.top-nav>li>a {
    color: #fff;
}

/* skinnier side nav than sb-admin default */
@media(min-width:768px) {
    #wrapper {
        padding-left: 140px;
    }
    .side-nav {
        left: 140px;
        width: 140px;
        margin-left: -140px;
    }

    .side-nav>li>a {
        width: 140px;
    }
}

.side-nav-color {
    background-color: #68618C;
    border: none;
    color: #fff;
}

.side-nav-color > li > a  {
    /* need to override bootstrap.min.css */
    color: #fff !important;
}

.side-nav-color > li > a:hover {
    background-color: #444 !important;
    color: #fff !important;
}
.side-nav-color > li > a:focus,
.side-nav-color > li > a.active {
    background-color: #fff !important;
    color: #444 !important;
}

.table-bordered {
    border: 1px solid #E0E0E0; !important;
}
.table-responsive {
    margin-top: 15px;
    border-top: none !important;
}
.table-responsive > table {
    margin-bottom: 0px;
}

.pagination {
    margin: 10px 0 15px 0;
}

tbody > tr.active > td {
    background-color: #efefff !important;
    /* border-left: 2px solid #4E4084; */
    /* border-bottom: 2px solid #4E4084; */
}

.purple-logo {
    width: 4.5em;
    margin-top: -8px;
}


.fake-link {
    font-size: 16px;
    color: #3498db;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;}

.fake-link:hover {
    color:#F88458;
    text-decoration: none;
}

.courier-active {
    color: #00ff00;
}

.courier-inactive {
    color: #ff0000;
}

 /* this override bootstrap.css */
.form-control-purple {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #000;
}

.forgot-password {
    float: right;
    color: #000;
}

.purple-div-header {
    background-color: #423870;
    padding-top: 1em;
}

.purple-login-logo {
    display: block;
    margin: 0 auto;
    width: 400px;
    padding-bottom: 1em;
}

.purple-login-row {
    padding-top: 8em;
}

.orange-color {
    color: #F88458;
}

.white-color {
    color: #fff;
}

.grey-color {
    color: #ddd;
}

.form-border {
    border: 1px solid #E0E0E0;
    padding: 0.5em;
}

/* side bar links */
.sidebar-nav > ul > li > a.active > div {
    color: #68618C;
}

/* button colors */
.btn-default {
    color: #68618C;
    border-color: #E0E0E0;
    text-transform: uppercase;
}

/* active button colors */
.btn-default.active, .btn-default.active:focus {
    background-color: #F88458;
    color: #FFFFFF;
}

h3 {
    color: #68618C;
}


/* table header */
thead > tr > .fake-link {
    color: #68618C;
    text-transform: uppercase;
}

/* styling for autocomplete */

.Select-placeholder {
    font-family: Hind,Verdana,Arial,'sans-serif' !important;
    font-size: 16px;
    font-weight: bolder;
}

.Select-value {
    font-family: Hind,Verdana,Arial,'sans-serif' !important;
    font-size: 16px;
    font-weight: bolder;
}

.Select-menu-outer {
    font-family: Hind,Verdana,Arial,'sans-serif' !important;
    font-size: 16px;
    font-weight: bolder;
}

button:focus {outline:0 !important;}